* {
  margin: 0;
  padding: 0;
}

body {
  margin: auto;
  width: 1200px;
}
@media (max-width: 1280px) {
  body {
    width: 800px;
  }
}
@media (max-width: 880px) {
  body {
    width: auto;
  }
}

header,
nav,
main,
footer {
  border: 1px solid #000;
}

main {
  display: block;
  border: 0;
}
@media (max-width: 1280px) {
  main {
    display: inline;
  }
}

.card {
  /* display: inline-flex; */
  /* justify-content:center; */
  width: 400px;
  line-height: 0;
}
@media (max-width: 1280px) {
  .card {
    width: auto;
  }
}
.card img {
  display: flex;
  width: 400px;
}
@media (max-width: 1280px) {
  .card img {
    display: inline;
  }
}
@media (max-width: 880px) {
  .card img {
    width: 100%;
  }
}
